In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

In [3]:
purchase_data

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,101,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

In [4]:
# The value_counts method counts unique values in a column
count = purchase_data["SN"].value_counts()
count

Lisosia93         5
Iral74            4
Idastidru52       4
Aina42            3
Saistyphos30      3
                 ..
Haeladil46        1
Lisassasta50      1
Tyaelistidru84    1
Yasur85           1
Chadjask77        1
Name: SN, Length: 576, dtype: int64

In [5]:
# Display a statistical overview of the DataFrame
purchase_data.describe()

       Purchase ID         Age     Item ID       Price
count   780.000000  780.000000  780.000000  780.000000
mean    389.500000   22.714103   92.114103    3.050987
std     225.310896    6.659444   52.775943    1.169549
min       0.000000    7.000000    0.000000    1.000000
25%     194.750000   20.000000   48.000000    1.980000
50%     389.500000   22.000000   93.000000    3.150000
75%     584.250000   25.000000  139.000000    4.080000
max     779.000000   45.000000  183.000000    4.990000

In [6]:
# The value_counts method counts unique values in a column
count = purchase_data["Item ID"].value_counts()
count

178    12
82      9
108     9
145     9
92      8
       ..
42      1
118     1
104     1
27      1
51      1
Name: Item ID, Length: 183, dtype: int64

In [7]:
# The sum method adds every entry in the series
total_revenue = purchase_data["Price"].sum()
total_revenue

2379.77

In [8]:
# The value_counts method counts unique values in a column
count = purchase_data["Purchase ID"].value_counts()
count

779    1
243    1
265    1
264    1
263    1
      ..
517    1
516    1
515    1
514    1
0      1
Name: Purchase ID, Length: 780, dtype: int64

In [9]:
# The value_counts method counts unique values in a column
count = purchase_data["Gender"].value_counts()
count

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64